[submodule "src/agent/plan/RCRank"]
	path = src/agent/plan/RCRank
	url = https://github.com/HarneyHong/RCRank.git
[submodule "dream/agent/plan/RCRank"]
	path = dream/agent/plan/RCRank
	url = git@github.com:HarneyHong/RCRank.git
